<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id			= "ch.globetech.implentis43"
	version		= "1.0.2">

	<name>Sklerodermie</name>

	<description>
		Mit dieser App haben Sie aktuelle Informationen zur Diagnose und Therapie der Sklerodermie stets griffbereit. Sie finden praxisrelevante Literaturhinweise zur Sklerodermie, einen Terminkalender zu Tagungen und Kongressen, ferner Links zu Sklerodermie-Selbsthilfegruppen. Das Sklerodermie-Zentrum Rheinfelden zeigt Ihnen in Bildern und Worten, wie man heute die Sklerodermie umfassend behandeln kann, nennt Ansprechpartner und eine Telefonnummer für kostenlose Telefonberatung. Die medizinischen Informationen der App werden laufend aktualisiert.
	</description>

	<author href="http://www.globetech.ch">
		Martin Roth
	</author>

	<gap:platform name="ios" />
	<gap:platform name="android" />

	<icon src="ios/Homescreen57.png" gap:platform="ios" width="57" height="57" />
	<icon src="ios/Homescreen72.png" gap:platform="ios" width="72" height="72" />
	<icon src="ios/Homescreen76.png" gap:platform="ios" width="76" height="76" />
	<icon src="ios/Homescreen114.png" gap:platform="ios" width="114" height="114" />
	<icon src="ios/Homescreen120.png" gap:platform="ios" width="120" height="120" />
	<icon src="ios/Homescreen144.png" gap:platform="ios" width="144" height="144" />
	<icon src="ios/Homescreen152.png" gap:platform="ios" width="152" height="152" />

	<gap:splash src="splash.png" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	
	<gap:plugin name="org.apache.cordova.core.network-information" />
	<gap:plugin name="org.apache.cordova.core.file" />
	<gap:plugin name="org.apache.cordova.core.inappbrowser" />

	<access origin="*" />
	<preference name="phonegap-version" value="3.3.0" />
	<preference name="orientation" value="portrait" />
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
	    <false/>
	</gap:config-file>
</widget>