<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id			= "ch.globetech.implentis43"
	version		= "1.0.0">

	<name>Sklerodermie</name>

	<description>
		A sample PhoneGap application built to demo PhoneGap Build and the PhoneGap cloud debugger.
	</description>

	<author href="http://www.globetech.ch">
		Martin Roth
	</author>

	<gap:platform name="ios" />
	<gap:platform name="android" />

	<icon src="Homescreen.png" gap:role="default" />
	<gap:splash src="Homescreen.png" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/file"/>

	<access origin="*" />
	<preference name="phonegap-version" value="2.9.0" />

</widget>