<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id			= "com.mwriley.pgbuild.sample"
	version		= "1.0.0">

	<name>Sklerodermie</name>

	<description>
		A sample PhoneGap application built to demo PhoneGap Build and the PhoneGap cloud debugger.
	</description>

	<author href="http://www.globetech.ch">
		Martin Roth
	</author>

	<gap:platforms>
	<gap:platform name="ios" />
	<gap:platform name="android" />
	</gap:platforms>

	<icon src="Homescreen.jpg" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<access origin="http://phonegap.com" subdomains="true" />
	<preference name="phonegap-version" value="2.9.0" />

</widget>